In [1]:
import pandas as pd
import gzip
import pickle
import dateutil
import datetime
from dateutil.relativedelta import *
import numpy.random as ra
import math
import random
import seaborn as sns
import numpy as np
import numbers
import uuid
import person
import quilt

In [15]:
import importlib

In [23]:
importlib.reload(person)

# Selecting a surname for a person

I have installed on `quiltdata.com` a file "2010_surnames.csv" that contains surname information from the 2010 US census. We will be using this file to generate names for persons we simulation with our Person class. The head of the file looks like this:

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>name</th>
      <th>rank</th>
      <th>count</th>
      <th>prop100k</th>
      <th>cum_prop100k</th>
      <th>pctwhite</th>
      <th>pctblack</th>
      <th>pctapi</th>
      <th>pctaian</th>
      <th>pct2prace</th>
      <th>pcthispanic</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>SMITH</td>
      <td>1</td>
      <td>2376206</td>
      <td>880.85</td>
      <td>880.85</td>
      <td>73.35</td>
      <td>22.22</td>
      <td>0.40</td>
      <td>0.85</td>
      <td>1.63</td>
      <td>1.56</td>
    </tr>
    <tr>
      <th>1</th>
      <td>JOHNSON</td>
      <td>2</td>
      <td>1857160</td>
      <td>688.44</td>
      <td>1569.30</td>
      <td>61.55</td>
      <td>33.80</td>
      <td>0.42</td>
      <td>0.91</td>
      <td>1.82</td>
      <td>1.50</td>
    </tr>
    <tr>
      <th>2</th>
      <td>WILLIAMS</td>
      <td>3</td>
      <td>1534042</td>
      <td>568.66</td>
      <td>2137.96</td>
      <td>48.52</td>
      <td>46.72</td>
      <td>0.37</td>
      <td>0.78</td>
      <td>2.01</td>
      <td>1.60</td>
    </tr>
    <tr>
      <th>3</th>
      <td>BROWN</td>
      <td>4</td>
      <td>1380145</td>
      <td>511.62</td>
      <td>2649.58</td>
      <td>60.71</td>
      <td>34.54</td>
      <td>0.41</td>
      <td>0.83</td>
      <td>1.86</td>
      <td>1.64</td>
    </tr>
    <tr>
      <th>4</th>
      <td>JONES</td>
      <td>5</td>
      <td>1362755</td>
      <td>505.17</td>
      <td>3154.75</td>
      <td>57.69</td>
      <td>37.73</td>
      <td>0.35</td>
      <td>0.94</td>
      <td>1.85</td>
      <td>1.44</td>
    </tr>
  </tbody>
</table>

Use Pandas to read this file into a DataFrame named `surnames` that only has columns `count` and `name`.

In [2]:
quilt.install("u0069295/n2010_surnames")

Downloading package metadata...
u0069295/n2010_surnames already installed.
Overwrite? (y/n) y
Fragments already downloaded

In [3]:
from quilt.data.u0069295 import n2010_surnames as data

### Accessing our data

Calling `data()` will return a Pandas DataFrame

In [4]:
surnames = data()

In [5]:
type(surnames)

pandas.core.frame.DataFrame

In [8]:
data().head()

,name,rank,count,prop100k,cum_prop100k,pctwhite,pctblack,pctapi,pctaian,pct2prace,pcthispanic
0,SMITH,1,2376206,880.85,880.85,73.35,22.22,0.40,0.85,1.63,1.56
1,JOHNSON,2,1857160,688.44,1569.30,61.55,33.80,0.42,0.91,1.82,1.50
2,WILLIAMS,3,1534042,568.66,2137.96,48.52,46.72,0.37,0.78,2.01,1.60
3,BROWN,4,1380145,511.62,2649.58,60.71,34.54,0.41,0.83,1.86,1.64
4,JONES,5,1362755,505.17,3154.75,57.69,37.73,0.35,0.94,1.85,1.44

#### Create a DataFrame called `surnames` that only contains the `name` column

In [9]:
surnames = None
### BEGIN SOLUTION
surnames = data()[["name"]]
### END SOLUTION
print(surnames.shape)
surnames.head()

(151671, 1)

       name
0     SMITH
1   JOHNSON
2  WILLIAMS
3     BROWN
4     JONES

#### Write a function `get_last_name1` 

* takes a DataFrame with the surnames
* a keyword argument `col` containing the name of the column with the names
* a keyword arguemnt `seed` with default value `None`

In [10]:
def get_lastname1(surnames, col="name", seed=None):
    ### BEGIN SOLUTION

    random.seed(seed)
    return random.choice(surnames[col])
    ### END SOLUTION

In [13]:
get_lastname1(surnames)

'ORLANDINI'

#### Create a population of 1000 `Person` objects with randomly generated surnames (`last_name`)

In [24]:
population = [person.Person(first_name="", last_name=get_lastname1(surnames)) 
                  for i in range(1000)]

In [18]:
population[0].last_name

'This is my last name:MCQUIRK'

In [26]:
p = population[0]
surnames.shape

(151671, 1)

#### How could I look at the frequency of names?

In [25]:
from collections import Counter
Counter([p.last_name for p in population]).most_common(50)

[('BUSHBY', 2),
 ('GAULDEN', 2),
 ('MUSCOLINO', 2),
 ('RITENOUR', 2),
 ('MUGLER', 1),
 ('FONKEN', 1),
 ('HARNAR', 1),
 ('MARGARITO', 1),
 ('SECREASE', 1),
 ('HAGEMEYER', 1),
 ('SPORL', 1),
 ('WOGOMAN', 1),
 ('SOSTENES', 1),
 ('STRIBLING', 1),
 ('SERIGNESE', 1),
 ('NYGARD', 1),
 ('BRYNILDSEN', 1),
 ('DIEZEL', 1),
 ('RODAS', 1),
 ('GUTHMILLER', 1),
 ('BREITWIESER', 1),
 ('BUMANLAG', 1),
 ('RABELLO', 1),
 ('MURBACH', 1),
 ('PYATT', 1),
 ('GATHJE', 1),
 ('SAUSSER', 1),
 ('ARCHACKI', 1),
 ('HALLISSEY', 1),
 ('LARREYNAGA', 1),
 ('ETNYRE', 1),
 ('FISETTE', 1),
 ('GUTEREZ', 1),
 ('ERMISCH', 1),
 ('DREAGER', 1),
 ('EIKMEIER', 1),
 ('DORANTES', 1),
 ('TULUMELLO', 1),
 ('SMALLACOMBE', 1),
 ('HALLAUER', 1),
 ('GILLICH', 1),
 ('KRAUCH', 1),
 ('CACATIAN', 1),
 ('FAYERWEATHER', 1),
 ('PEZZINO', 1),
 ('GAA', 1),
 ('HESSIAN', 1),
 ('MISKOWIC', 1),
 ('GUZOWSKI', 1),
 ('GETTLE', 1)]

### Create `DataFrame` with columns `name` and `count`

In [27]:
surnames = data()[["name", "count"]]
surnames.head()

       name    count
0     SMITH  2376206
1   JOHNSON  1857160
2  WILLIAMS  1534042
3     BROWN  1380145
4     JONES  1362755

### Filter `surnames` so we only keep names that occurred at least 10000 times

In [29]:
surnames = surnames[surnames["count"] >= 10000]
surnames.shape

(3287, 2)

In [41]:
name_set = set(surnames.name)
complete_name_set = set(data()[["name"]]["name"])

In [42]:
name_set < complete_name_set

True

In [39]:
len(name_set), len(complete_name_set)

(3287, 1)

In [33]:
"CHAPMAN" in name_set

True

### Let's talk briefly about probabilities

#### Example: 

I fill a vase with 60 red balls and 40 black balls. If I shake all the balls up and blindly draw one from the vase what is the probability that the ball will be red?

How did we arrive at this?

What is the probability of drawing a black ball?

#### Add a column to `surnames` representing the probability of `name` occuring in the Census

### Some basic probability concepts

* A probability ($p$) has a value between zero and one: $0 \le p \le 1$
* The sum of all the probabilities of potential outcomes (e.g. flipping a coin is heads or tails) is one: $\sum p = 1$

* $\text{ probability heads } + \text{ probability tails} = 1$
* For a 6-sided die $p(1)+p(2)+p(3)+p(4)+p(5)+p(6)=1$
* For our names $p(\text{KASPER})+p(\text{ZELLER})+\cdots+p(\text{SMITH})=1$

In [45]:
surnames["count"].sum()

148459381

In [49]:
surnames["probability"] = surnames["count"]/surnames["count"].sum()
surnames = surnames.sort_values(by="probability",ascending=True)
surnames.head()

          name  count  probability
3286    KASPER  10005     0.000067
3285    ZELLER  10006     0.000067
3284   SKIPPER  10010     0.000067
3283   CARBONE  10012     0.000067
3282  LAFFERTY  10014     0.000067

In [47]:
surnames.probability.sum()

1.0

#### The most common name occurs about 1.5% of the time

### Cumulative Probability

We need one more concept: [cumulative probability](https://stattrek.com/statistics/dictionary.aspx?definition=cumulative_probability).

>A cumulative probability refers to the probability that the value of a random variable falls within a specified range. Frequently, cumulative probabilities refer to the probability that a random variable is less than or equal to a specified value.

#### Example:

Cumulative probability that a die roll is less than or equal to 4:

\begin{eqnarray}
    \sum_{i\le 4} p(i) & = \\
    p(1) + p(2) + p(3) + p(4) & =\\
    \frac{1}{6} + \frac{1}{6} + \frac{1}{6} + \frac{1}{6} &=\\
    \frac{2}{3}
\end{eqnarray}

### Compute the cumulative probabilities for our names

The cumulative probability of a name (e.g. "SKIPPER") is the sum of its probability plus the probability of all the names with lower probability (less common).

For example, the cumulative probability of the name "SKIPPER" is

\begin{eqnarray}
p(\text{KASPER})+p(\text{ZELLER}) + p(\text{SKIPPER}) & = &\\
0.000067 + 0.000067 + 0.000067 & = &0.000202
\end{eqnarray}

Result tail should look like this:

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>name</th>
      <th>count</th>
      <th>probability</th>
      <th>cumulative_probability</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>4</th>
      <td>JONES</td>
      <td>1362755</td>
      <td>0.009179</td>
      <td>0.951855</td>
    </tr>
    <tr>
      <th>3</th>
      <td>BROWN</td>
      <td>1380145</td>
      <td>0.009296</td>
      <td>0.961152</td>
    </tr>
    <tr>
      <th>2</th>
      <td>WILLIAMS</td>
      <td>1534042</td>
      <td>0.010333</td>
      <td>0.971485</td>
    </tr>
    <tr>
      <th>1</th>
      <td>JOHNSON</td>
      <td>1857160</td>
      <td>0.012510</td>
      <td>0.983994</td>
    </tr>
    <tr>
      <th>0</th>
      <td>SMITH</td>
      <td>2376206</td>
      <td>0.016006</td>
      <td>1.000000</td>
    </tr>
  </tbody>
</table>

In [51]:
surnames["cumulative_probability"] = surnames["probability"].cumsum()
surnames.tail()

       name    count  probability  cumulative_probability
4     JONES  1362755     0.009179                0.951855
3     BROWN  1380145     0.009296                0.961152
2  WILLIAMS  1534042     0.010333                0.971485
1   JOHNSON  1857160     0.012510                0.983994
0     SMITH  2376206     0.016006                1.000000

In [54]:
surnames.cumulative_probability.iloc[-1]- surnames.cumulative_probability.iloc[-2]

0.016005765240257763

### Write a function `get_lastname2`

This should be similar to `get_lastname1` except the probability of a name being returned is equal to the probability of that name occuring in our population.

* Use `random.random`
* Use `surnames.iterrows()`

In [58]:
surnames.head()

          name  count  probability  cumulative_probability
3286    KASPER  10005     0.000067                0.000067
3285    ZELLER  10006     0.000067                0.000135
3284   SKIPPER  10010     0.000067                0.000202
3283   CARBONE  10012     0.000067                0.000270
3282  LAFFERTY  10014     0.000067                0.000337

In [57]:
random.random()

0.34273758942229715

In [59]:
def get_lastname2(surnames, col = "name", seed=None):
    ### BEGIN SOLUTION

    random.seed(seed)
    v = random.random()
    tmp = surnames[surnames.cumulative_probability >=v]

    return tmp["name"].iloc[0]

In [65]:
population2 = [person.Person(first_name="", last_name=get_lastname2(surnames)) 
                  for i in range(10000)]

Counter([p.last_name for p in population2]).most_common(50)

[('SMITH', 176),
 ('JOHNSON', 128),
 ('WILLIAMS', 104),
 ('BROWN', 98),
 ('JONES', 97),
 ('MILLER', 77),
 ('ANDERSON', 67),
 ('WILSON', 58),
 ('DAVIS', 58),
 ('TAYLOR', 55),
 ('THOMPSON', 52),
 ('MARTINEZ', 52),
 ('HERNANDEZ', 52),
 ('RODRIGUEZ', 51),
 ('LOPEZ', 45),
 ('JACKSON', 45),
 ('GARCIA', 43),
 ('WHITE', 42),
 ('MARTIN', 42),
 ('GONZALEZ', 41),
 ('THOMAS', 41),
 ('HARRIS', 39),
 ('MOORE', 39),
 ('CARTER', 36),
 ('YOUNG', 35),
 ('ALLEN', 34),
 ('CLARK', 33),
 ('LEE', 32),
 ('MITCHELL', 32),
 ('KING', 31),
 ('BAKER', 30),
 ('SANCHEZ', 30),
 ('WRIGHT', 29),
 ('LEWIS', 28),
 ('SCOTT', 28),
 ('ADAMS', 28),
 ('HILL', 27),
 ('PEREZ', 27),
 ('EDWARDS', 26),
 ('RAMIREZ', 26),
 ('HALL', 26),
 ('COOK', 24),
 ('WALKER', 24),
 ('ROBINSON', 24),
 ('COOPER', 24),
 ('NGUYEN', 23),
 ('EVANS', 23),
 ('CAMPBELL', 23),
 ('BAILEY', 22),
 ('NELSON', 22)]